<!--Grid column-->
<div class="col-lg-4 col-md-12 mb-4">

    <!--Card-->
    <div class="card piece-card">

        <!--Card image-->
        <div class="view overlay">
            <div class="rounded-top">
                <% if (piece.image) {%>
                    <img src="/static/img/pieces/<%= piece.image %>" class="img-fluid piece-image">
                <% } else { %>
                    <img src="https://mdbootstrap.com/img/Photos/Others/gradient1.jpg" class="img-fluid piece-image">
                <% } %>
            </div>
        </div>

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title"><%= piece.name %></h4>
            <!--Text-->
            <p class="card-text"><%= piece.description %></p>
            <a target="_blank" onclick="playPiece('<%= piece.file %>')"
                   class="btn btn-outline-grey"><i class="fas fa-play mr-2"></i> Play
                </a>
        </div>

    </div>
    <!--/.Card-->

</div>
<!--Grid column-->