<!--Grid column-->
<div class="col-lg-4 col-md-12 mb-4">

    <!--Card-->
    <div class="card piece-card">

        <!--Card image-->
        <div class="view overlay">
            <div class="rounded-top">
                <img src="https://mdbootstrap.com/img/Photos/Others/gradient1.jpg" class="img-fluid piece-image">
            </div>
        </div>

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title"><%= piece %></h4>
            <!--Text-->
            <p class="card-text">Get started with MDBootstrap, the world's most popular Material Design
                framework for building
                responsive, mobile-first sites.</p>
            <p class="card-text">
                <strong>5 minutes, a few clicks and... done. You will be surprised at how easy it
                    is.</strong>
            </p>
        </div>

    </div>
    <!--/.Card-->

</div>
<!--Grid column-->