<!--Grid column-->
<div class="col-lg-4 col-md-12 mb-4 pt-5">

    <a class="btn btn-lg btn-blue rounded mt-5 add-button" data-toggle="modal" data-target="#modalCustomPiece"
       disabled="disabled"><i
                class="fa fa-plus fa-5x"></i></a>

</div>
<!--Grid column-->

<div class="modal fade" id="modalCustomPiece" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Custom Piece</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form">
                    <textarea id="jsontxt" class="md-textarea form-control" rows="4"></textarea>
                    <label for="jsontxt">MIDI JSON File content</label>
                </div>

                <div class="md-form">
                    <input type="number" id="bpm" class="form-control">
                    <label for="bpm">BPM</label>
                </div>

                <div class="md-form">
                    <input type="number" id="notes_in_beat" class="form-control">
                    <label for="notes_in_beat">Notes in beat</label>
                </div>

                <div class="md-form">
                    <input type="number" id="piece_length" class="form-control">
                    <label for="piece_length">Piece length (in seconds)</label>
                </div>


            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button onclick="playCustomPiece(this)"
                        class="btn btn-outline-primary piece-play-btn"><i
                            class="fas fa-infinity mr-2 piece-play-icon"></i> Play
                </button>
            </div>
        </div>
    </div>
</div>