<!--Grid column-->
<div class="col-lg-4 col-md-12 mb-4 pt-5">

    <a class="btn btn-lg btn-blue rounded mt-5 add-button" data-toggle="modal" data-target="#modalCustomPiece"
       disabled="disabled"><i
                class="fa fa-plus fa-5x"></i></a>

</div>
<!--Grid column-->