<% include ../partials/header.ejs %>
<!--Main layout-->
<main class="mt-5 pt-5">
    <div class="container">

        <!--Section: Jumbotron-->
        <section class="card wow fadeIn"
                 style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">

            <!-- Content -->
            <div class="card-body text-white text-center py-5 px-5 my-5">

                <h1 class="mb-4">
                    <strong>Eran's Generative Music</strong>
                </h1>
                <p>
                    <strong>Final CS 5 units project</strong>
                </p>
                <a target="_blank" href="/static/Generative Music.pdf"
                   class="btn btn-outline-white btn-lg">View my תיק פרוייקט
                    <i class="fas fa-graduation-cap ml-2"></i>
                </a>

            </div>
            <!-- Content -->
        </section>
        <!--Section: Jumbotron-->

        <hr class="my-5">

        <!--Section: Cards-->
        <section class="text-center">

            <!--Grid row-->
            <div class="row mb-4 wow fadeIn">
                <% pieces.forEach(function(piece) { %>
                    <%- include('../partials/piece.ejs', {piece: piece}); %>
                <% }); %>
                <%- include('../partials/piece_custom.ejs'); %>
            </div>
            <!--Grid row-->

        </section>
        <!--Section: Cards-->

    </div>
</main>
<!--Main layout-->
<% include ../partials/footer.ejs %>